In [3]:
import pandas as pd

tables = pd.read_html("https://www.op.nysed.gov/professions/pharmacist/license-statistics#stores")
df = tables[2]

In [4]:
df

         County  Number    County.1  Number.1      County.2  Number.2
0        Albany      73   Jefferson        22      Saratoga      41.0
1      Allegany      10       Kings       884   Schenectady      32.0
2         Bronx     477       Lewis         4     Schoharie       6.0
3        Broome      50  Livingston        12      Schuyler       4.0
4   Cattaraugus      18     Madison        11        Seneca       5.0
5        Cayuga      16      Monroe       139       Steuben      20.0
6    Chautauqua      28  Montgomery        13  St. Lawrence      29.0
7       Chemung      20      Nassau       345       Suffolk     301.0
8      Chenango      10    New York       640      Sullivan      17.0
9       Clinton      18     Niagara        51         Tioga       5.0
10     Columbia      11      Oneida        56      Tompkins      20.0
11     Cortland       9    Onondaga       102        Ulster      35.0
12     Delaware      12     Ontario        23        Warren      20.0
13     Dutchess      59      Orange        82    Washington      13.0
14         Erie     237     Orleans         9         Wayne      16.0
15        Essex      11      Oswego        19   Westchester     224.0
16     Franklin      12      Otsego        15       Wyoming      10.0
17       Fulton      15      Putnam        16         Yates       6.0
18      Genesee      12      Queens       846           NaN       NaN
19       Greene      12  Rensselaer        32     NYS TOTAL    5410.0
20     Hamilton       0    Richmond       103  OUT-OF-STATE    1249.0
21     Herkimer      11    Rockland        61         TOTAL    6659.0